body {
	margin: 0;
	padding: 0;
}
  
#map {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
}

.state {
	position: absolute;
	bottom: 100px;
	right: 10px;
	z-index: 1000;
}
  
.leaflet-popup-content {
	width: 320px !important;
}
  
.leaflet-popup-content img {
	align: center;
}
  
.popup_cardata_table {
	margin: 0px auto;
}
  
.column_content_class {
	text-align: center;
}
  
.state strong {
	background: #CC0000;
	color: #fff;
	display: block;
	padding: 10px;
	border-radius: 2px;
}

.ui-button {
	position: absolute;
	top: 10px;
	right: 200px;
	z-index: 1000;
}

#snapshot {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	width: 50%;
}